.container {
    display: flex;
    align-items: center;
  }
  
  .container img {
    width: 200px; /* 必要に応じてサイズを調整してください */
    height: auto;
    margin-right: 10px; /* 写真と説明の間のスペースを調整します */
  }
  
  .container p {
    font-size: 16px; /* 必要に応じてフォントサイズを調整してください */
  }

h3{
  /* 水平方向の中央揃え */
  text-align: center;
}

.container {
  width:50%;
  margin:0 auto;
  }
.box1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
}
.box1 p {
    margin: 0; 
    padding: 0;
}

