.kurumawohasirasimasitekura-i{
    text-align: center;
}

.ozippoozipopo img {
   width: 1000px;
}
.grade img {
    width: 1000px;
}
.content{
    text-align: center;
}
.content2{
    font-size: 20px;
}
.payment{
    text-align: center;
}
.payment2{
    font-size: 20px;
}
